body, html, #root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

.no-border-bottom {
  border-bottom: none;
}

.btn-primary {
  background: #2D89AD;
}

a {
  color: #2D89AD;
  font-weight: bold;
  cursor: pointer;
  transition: ease 200ms;
}